@charset "UTF-8";

/* ----------共通部分のCSS-------------- */


html{
  font-size: 100%;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #f6f0cc;
  width: 100%;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}


/* ----------トップページのCSS-------------- */


.main-nav{
  display: flex;
  list-style: none;
  font-size: 1.25rem;
}

.main-nav li{
  margin-left: 36px;
  margin-top: 10px;
}

.link{
  text-decoration: none;
  color: #432;
}

.link:hover{
  color: #3aacad;
  transition: 0.3s;
}

.page-header{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  padding: 5px 0;
}

.user-name{
  font-weight: bold;
}

.container-main{
  margin: 50px 50px;
  background-color: #e2eba3;
  width: 800px;
  padding: 200px 0;
}

.btn-task{
  padding: 15px 30px;
  font-size: 1.8rem;
  border-radius: 5px;
  background-color: #eaf6fd;
  border: 5px solid #432;
  margin-top: 10px;
}

.task{
  margin-bottom: 50px;
}

/* ----------登録ページのCSS-------------- */

.container{
  background-color: #e2eba3;
  padding: 30px 0 ;
  width: 800px;
  margin: 0 auto;
}

.form{
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  border-radius: 5px;
  background-color: #f6f0cc;
  border: 1px solid #432;
}



.form-font{
  font-weight: bold;
}

.field{
  margin-bottom: 15px;
}

.actions{
  padding: 20px;
}

.btn{
  padding: 7px 15px;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: #eaf6fd;
  border: 1px solid #432;
  width: 150px;
  margin-top: 10px;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}


/* ----------カテゴリ選択のCSS-------------- */

.container-open{
  background-color: #f5cfc8;
  padding: 30px 0 ;
  width: 800px;
  margin: 0 auto;
}


.title{
padding: 20px;
}
